/*Fontes*/
@font-face {
    font-family: "unbounded";
    src: url("../fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins-Regular.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilo Desktop*/
:root {
    --roxo-destaque: #9747FF;
    --roxo-hover: #8233E8;
    --Offwhite: #FFFFFF;
    --fundo-dark: #0E1014;
    --grafite: #232323;
}

a {
    background-color: var(--roxo-destaque);
    border-radius: 36px;
    color: var(--Offwhite);
    display: block;
    font-family: "poppins", sans-serif;
    font-size: 24px;
    height: 66px;
    line-height: 66px;
    margin: 40px auto;
    text-align: center;
    text-decoration: none;
    width: 340px;
}

a:hover {
    background-color: var(--roxo-hover);
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1{
    font-size: 80px;
    font-family: "unbounded", sans-serif;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 24px;
}

h1 span {
    color: var(--roxo-destaque);
}

p {
    font-size: 24px;
    font-family: "poppins", sans-serif;
    margin: 24px auto 0;
    text-align: center;
    width: 792px;
}

section img {
    display: block;
    margin: 0 auto;
    height: 446px;
    width: 792px;
}

@media (max-width: 768px) {
    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }
}

@media (max-width: 375px){

    a {
        font-size: 20px;
        width: 251px;;
    }

    header img {
    margin: 32px 0 0 16px ;
    }

    h1 {
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    section img {
        height: 230px;
        width: 340px;
    }
}